.profile-doctor-container {
    .intro-doctor {
        display: flex;

        .content-left {
            background-size    : cover;
            background-position: center;
            background-repeat  : no-repeat;
            width              : 80px;
            height             : 80px;
            border-radius      : 50%;
            margin             : 10px 0;
        }

        .content-right {
            width         : calc(100% - 80px);
            display       : flex;
            flex-direction: column;
            padding-left  : 10px;

            .up {
                font-weight: 600;
                color      : #078bbf;
            }

            .down {
                padding-top: 10px;
                color      : #555353;
                text-align : justify;
            }
        }
    }
}