.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 170px;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 15px 0;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;

            .header-logo {
                background: url(../../assets/bookingcare.png);
                background-repeat: no-repeat;
                background-size: contain; /* Thay đổi kích thước của background để logo nhỏ lại */
                height: 43px;
                width: 200px;
                margin: 0 10px;
                cursor: pointer;
            }
            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-content {
                .subs-title {
                    font-weight: 400;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .support {
                display: flex;
                align-items: center;
                padding-right: 50px;
                cursor: pointer;
                i {
                    color: #0056f7;
                }
            }

            .language-vi {
                margin-right: 10px;
                
                span {
                    cursor: pointer;
                }

                &.active {
                    color: #fdf90d;
                    width: 30px;
                    height: 30px;
                    background-color: #f73a00;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 2.2;
                }
            }
            .language-en {

                span {
                    cursor: pointer;
                }

                &.active {
                    color: #ffffff;
                    width: 30px;
                    height: 30px;
                    background-color: #004ef7;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 2.2;
                }
            }
        }
    }
}

.home-header-banner {
    background: url(../../assets/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    flex-direction: column;
   
    
    .content-up {
        height: 65%;
        padding-top: 80px;
        background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(255, 255, 255, 0.1));

        .title1 {
            color: #ffffff;
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-top: 30px;
            margin-bottom: 5px;
        }
    
        .title2 {
            color: #ffffff;
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
        }
    
        .search {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 25px;
            background: #f7d800;
    
            i {
                margin: 0 5px;
            }
    
            input {
                height: 30px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 35px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));;

        .options {
            text-align: center;
            display: flex;
            gap: 60px;

            .option-child {
                width: 100px;
                
                .icon-child {
                    width: 50px;
                    height: 50px;
                    background: #ffffff;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                    box-shadow: rgba(199, 197, 197, 0.25) 0px 54px 55px, rgba(141, 139, 139, 0.12) 0px -12px 30px, rgba(126, 124, 124, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

                    i {
                        font-size: 30px;
                        color: #49bce2;
                    }
                    
                }
                .text-child {
                    font-size: 16px;
                    font-weight: 600;
                    
                    &:hover {
                        color: #49bce2;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}