.slick-prev, .slick-next {
    background-color: rgb(187, 183, 183) !important;
    width: 45px !important;
    height: 45px !important;
    border-radius: 50%;
    z-index: 1;
    // left: 0 !important;

    &:hover {
        background-color: rgb(156, 150, 150) !important;
    }
   
}

.slick-prev::before, .slick-next::before {
    color: white !important;
    opacity: 1 !important;
}

.section-share {
    height: 330px;
    
    .section-container {
        // height: inherit;
        margin: 0 80px;
        display: flex;
        flex-direction: column;

        .section-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 80px;
            padding: 0 8px;

            span {
                font-size: 25px;
            }
        }
    }
}

.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background: #f5f5f5;
        
    }

    // &.section-about {
    //     height: auto;
    //     margin: 0 100px;
    // }

    .section-body {
        .section-customize {
            .customize-border {
                border: 1px solid #1b1a1a;
                margin: 5px;
                
            }

            .bg-image {
                width: inherit;
                padding: 8px;
                background-repeat: no-repeat;
                
            }

            .section-outstanding-doctor {
                //background-image: url(../../assets/specialty/image.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 160px;
                height: 160px;
                border-radius: 50%;
                margin: 15px auto;
                
            }

            .position {
                margin-bottom: 12px;
            }

            span {
                padding-left: 8px;
            }
        }
    }
}

.section-about {
    height: auto;
    margin: 0 90px;

    .section-about-header {
        font-size: 20px;
        font-weight: 700;
        padding: 20px 0;
    }
    .section-about-content {
        display: flex;

        .content-left {
            width: 50%;
            padding: 10px;
        }
        .content-right {
            width: 50%;
            padding: 10px;
            text-align: justify;
        }
    }
}

.home-footer {
    height: 250px;
    text-align: center;
    font-weight: 700;
}
